# Created by .ignore support plugin (hsz.mobi)
.gradle/3.3/
.idea/libraries/YoumiSdk_v7_5_0_2017_07_18_.xml
DroidPlugin/assets/
DroidPlugin/bin/res/
DroidPlugin/build/generated/assets/
DroidPlugin/build/generated/res/
DroidPlugin/build/generated/source/aidl/androidTest/
DroidPlugin/build/generated/source/rs/
DroidPlugin/build/intermediates/assets/
DroidPlugin/build/intermediates/bundles/debug/aidl/
DroidPlugin/build/intermediates/bundles/debug/assets/
DroidPlugin/build/intermediates/bundles/debug/jni/
DroidPlugin/build/intermediates/bundles/debug/libs/
DroidPlugin/build/intermediates/bundles/default/
DroidPlugin/build/intermediates/bundles/release/aidl/
DroidPlugin/build/intermediates/bundles/release/assets/
DroidPlugin/build/intermediates/bundles/release/jni/
DroidPlugin/build/intermediates/bundles/release/libs/
DroidPlugin/build/intermediates/dependency-cache/
DroidPlugin/build/intermediates/incremental/mergeDebugAndroidTestResources/aapt-temp/
DroidPlugin/build/intermediates/incremental/mergeDebugAndroidTestResources/compile-file-map.properties
DroidPlugin/build/intermediates/incremental/mergeDebugAndroidTestResources/merged.dir/
DroidPlugin/build/intermediates/incremental/packageDebugAndroidTest/
DroidPlugin/build/intermediates/incremental/packageDebugResources/compile-file-map.properties
DroidPlugin/build/intermediates/incremental/packageDebugResources/merged.dir/
DroidPlugin/build/intermediates/incremental/packageReleaseResources/compile-file-map.properties
DroidPlugin/build/intermediates/incremental/packageReleaseResources/merged.dir/
DroidPlugin/build/intermediates/incremental/processDebugAndroidTestResources/
DroidPlugin/build/intermediates/incremental/processDebugResources/
DroidPlugin/build/intermediates/jniLibs/
DroidPlugin/build/intermediates/lint/
DroidPlugin/build/intermediates/manifest/tmp/
DroidPlugin/build/intermediates/manifests/
DroidPlugin/build/intermediates/rs/
DroidPlugin/build/intermediates/shaders/
DroidPlugin/build/intermediates/sourceFolderJavaResources/debug/com/morgoo/droidplugin/am/
DroidPlugin/build/intermediates/sourceFolderJavaResources/debug/com/morgoo/droidplugin/core/
DroidPlugin/build/intermediates/sourceFolderJavaResources/debug/com/morgoo/droidplugin/hook/
DroidPlugin/build/intermediates/sourceFolderJavaResources/debug/com/morgoo/droidplugin/pm/parser/
DroidPlugin/build/intermediates/sourceFolderJavaResources/debug/com/morgoo/droidplugin/reflect/
DroidPlugin/build/intermediates/sourceFolderJavaResources/debug/com/morgoo/droidplugin/stub/
DroidPlugin/build/intermediates/sourceFolderJavaResources/debug/com/morgoo/helper/
DroidPlugin/build/intermediates/sourceFolderJavaResources/release/com/morgoo/droidplugin/am/
DroidPlugin/build/intermediates/sourceFolderJavaResources/release/com/morgoo/droidplugin/core/
DroidPlugin/build/intermediates/sourceFolderJavaResources/release/com/morgoo/droidplugin/hook/
DroidPlugin/build/intermediates/sourceFolderJavaResources/release/com/morgoo/droidplugin/pm/parser/
DroidPlugin/build/intermediates/sourceFolderJavaResources/release/com/morgoo/droidplugin/reflect/
DroidPlugin/build/intermediates/sourceFolderJavaResources/release/com/morgoo/droidplugin/stub/
DroidPlugin/build/intermediates/sourceFolderJavaResources/release/com/morgoo/helper/
DroidPlugin/build/intermediates/transforms/mergeJniLibs/
DroidPlugin/build/tmp/
DroidPlugin/res/drawable-hdpi/
DroidPlugin/res/drawable-ldpi/
DroidPlug
in/res/drawable-mdpi/
DroidPlugin/res/drawable-xhdpi/
DroidPlugin/res/layout/
android_auto_update/libs/
android_auto_update/src/main/res/drawable/
app/build/generated/assets/
app/build/generated/res/
app/build/generated/source/aidl/
app/build/generated/source/r/androidTest/
app/build/generated/source/rs/
app/build/intermediates/assets/androidTest/
app/build/intermediates/blame/res/androidTest/
app/build/intermediates/blame/res/debug/single/drawable-hdpi.json
app/build/intermediates/blame/res/debug/single/drawable-ldrtl-hdpi.json
app/build/intermediates/blame/res/debug/single/drawable-ldrtl-mdpi.json
app/build/intermediates/blame/res/debug/single/drawable-ldrtl-xhdpi.json
app/build/intermediates/blame/res/debug/single/drawable-ldrtl-xxhdpi.json
app/build/intermediates/blame/res/debug/single/drawable-ldrtl-xxxhdpi.json
app/build/intermediates/blame/res/debug/single/drawable-mdpi.json
app/build/intermediates/blame/res/debug/single/drawable-xhdpi.json
app/build/intermediates/blame/res/debug/single/drawable-xxhdpi.json
app/build/intermediates/blame/res/debug/single/drawable-xxxhdpi.json
app/build/intermediates/bundles/
app/build/intermediates/dependency-cache/
app/build/intermediates/exploded-aar/cn.leancloud.android/avoscloud-push/v3.7.1/aidl/
app/build/intermediates/exploded-aar/cn.leancloud.android/avoscloud-push/v3.7.1/assets/
app/build/intermediates/exploded-aar/cn.leancloud.android/avoscloud-push/v3.7.1/res/
app/build/intermediates/exploded-aar/cn.leancloud.android/avoscloud-statistics/v3.7.1/aidl/
app/build/intermediates/exploded-aar/cn.leancloud.android/avoscloud-statistics/v3.7.1/assets/
app/build/intermediates/exploded-aar/com.android.support/appcompat-v7/22.2.1/aidl/
app/build/intermediates/exploded-aar/com.android.support/appcompat-v7/22.2.1/assets/
app/build/intermediates/exploded-aar/com.android.support/multidex-instrumentation/1.0.1/assets/
app/build/intermediates/exploded-aar/com.android.support/multidex-instrumentation/1.0.1/res/
app/build/intermediates/exploded-aar/com.android.support/multidex/1.0.1/assets/
app/build/intermediates/exploded-aar/com.android.support/multidex/1.0.1/res/
app/build/intermediates/exploded-aar/com.android.support/recyclerview-v7/22.2.1/aidl/
app/build/intermediates/exploded-aar/com.android.support/recyclerview-v7/22.2.1/assets/
app/build/intermediates/exploded-aar/com.android.support/support-v4/22.2.1/assets/
app/build/intermediates/exploded-aar/com.android.support/support-v4/22.2.1/libs/
app/build/intermediates/exploded-aar/com.android.support/support-v4/22.2.1/res/
app/build/intermediates/exploded-aar/com.bigkoo/svprogresshud/1.0.6/aidl/
app/build/intermediates/exploded-aar/com.bigkoo/svprogresshud/1.0.6/assets/
app/build/intermediates/exploded-aar/com.bigkoo/svprogresshud/1.0.6/jni/
app/build/intermediates/exploded-aar/com.bigkoo/svprogresshud/1.0.6/libs/
app/build/intermediates/exploded-aar/com.cjj.materialrefeshlayout/library/1.3.0/aidl/
app/build/intermediates/exploded-aar/com.cjj.materialrefeshlayout/library/1.3.0/assets/
app/build/intermediates/exploded-aar/com.google.android.gms/play-services-appindexing/8.1.0/res/
app/build/intermediates/exploded-aar/com.tencent.tinker/tinker-android-lib/1.7.5/aidl/
app/build/intermediates/exploded-aar/com.tencent.tinker/tinker-android-lib/1.7.5/assets/
app/build/intermediates/exploded-aar/com.tencent.tinker/tinker-android-lib/1.7.5/jni/
app/build/intermediates/exploded-aar/com.tencent.tinker/tinker-an
droid-lib/1.7.5/libs/
app/build/intermediates/exploded-aar/com.tencent.tinker/tinker-android-lib/1.7.5/res/
app/build/intermediates/exploded-aar/com.tencent.tinker/tinker-android-loader/1.7.5/aidl/
app/build/intermediates/exploded-aar/com.tencent.tinker/tinker-android-loader/1.7.5/assets/
app/build/intermediates/exploded-aar/com.tencent.tinker/tinker-android-loader/1.7.5/jni/
app/build/intermediates/exploded-aar/com.tencent.tinker/tinker-android-loader/1.7.5/libs/
app/build/intermediates/exploded-aar/com.tencent.tinker/tinker-android-loader/1.7.5/res/
app/build/intermediates/exploded-aar/duanzi/DroidPlugin/unspecified/aidl/
app/build/intermediates/exploded-aar/duanzi/DroidPlugin/unspecified/assets/
app/build/intermediates/exploded-aar/duanzi/DroidPlugin/unspecified/jni/
app/build/intermediates/exploded-aar/duanzi/DroidPlugin/unspecified/libs/
app/build/intermediates/exploded-aar/duanzi/android_auto_update/unspecified/assets/
app/build/intermediates/exploded-aar/duanzi/android_auto_update/unspecified/jni/
app/build/intermediates/exploded-aar/duanzi/android_auto_update/unspecified/libs/
app/build/intermediates/exploded-aar/duanzi/jcvideoplayer-lib/unspecified/aidl/
app/build/intermediates/exploded-aar/duanzi/jcvideoplayer-lib/unspecified/assets/
app/build/intermediates/exploded-aar/duanzi/jcvideoplayer-lib/unspecified/jni/
app/build/intermediates/exploded-aar/duanzi/jcvideoplayer-lib/unspecified/libs/
app/build/intermediates/exploded-aar/duanzi/multi-image-selector/unspecified/aidl/
app/build/intermediates/exploded-aar/duanzi/multi-image-selector/unspecified/assets/
app/build/intermediates/exploded-aar/duanzi/multi-image-selector/unspecified/jni/
app/build/intermediates/exploded-aar/duanzi/multi-image-selector/unspecified/libs/
app/build/intermediates/exploded-aar/duanzi/page_curl/unspecified/aidl/
app/build/intermediates/exploded-aar/duanzi/page_curl/unspecified/assets/
app/build/intermediates/exploded-aar/duanzi/page_curl/unspecified/jni/
app/build/intermediates/exploded-aar/duanzi/page_curl/unspecified/libs/
app/build/intermediates/exploded-aar/duanzi/tfl_list_recycler_view/unspecified/aidl/
app/build/intermediates/exploded-aar/duanzi/tfl_list_recycler_view/unspecified/assets/
app/build/intermediates/exploded-aar/duanzi/tfl_list_recycler_view/unspecified/jni/
app/build/intermediates/exploded-aar/duanzi/tfl_list_recycler_view/unspecified/libs/
app/build/intermediates/exploded-aar/me.drakeet.materialdialog/library/1.3.1/aidl/
app/build/intermediates/exploded-aar/me.drakeet.materialdialog/library/1.3.1/assets/
app/build/intermediates/exploded-aar/me.drakeet.materialdialog/library/1.3.1/jni/
app/build/intermediates/exploded-aar/me.drakeet.materialdialog/library/1.3.1/libs/
app/build/intermediates/incremental/mergeDebugAndroidTestResources/aapt-temp/
app/build/intermediates/incremental/mergeDebugAndroidTestResources/compile-file-map.properties
app/build/intermediates/incremental/mergeDebugAndroidTestResources/merged.dir/
app/build/intermediates/incremental/mergeDebugResources/aapt-temp/
app/build/intermediates/incremental/mergeDebugResources/compile-file-map.properties
app/build/intermediates/incremental/mergeDebugResources/merged.dir/
app/build/intermediates/incremental/packageDebug/
app/build/intermediates/incremental/packageDebugAndroidTest/
app/build/intermediates/incremental/packageRelease/
app/build/intermediates/incremental/processDebugAndroidTestResources/
app/build/intermediates/incremental/processDebugResources/
app/build/intermediates/jniLi
bs/
app/build/intermediates/manifest/tmp/
app/build/intermediates/manifests/instant-run/
app/build/intermediates/multi-dex/androidTest/
app/build/intermediates/res/merged/androidTest/
app/build/intermediates/res/merged/debug/drawable-hdpi/
app/build/intermediates/res/merged/debug/drawable-ldrtl-hdpi/
app/build/intermediates/res/merged/debug/drawable-ldrtl-mdpi/
app/build/intermediates/res/merged/debug/drawable-ldrtl-xhdpi/
app/build/intermediates/res/merged/debug/drawable-ldrtl-xxhdpi/
app/build/intermediates/res/merged/debug/drawable-ldrtl-xxxhdpi/
app/build/intermediates/res/merged/debug/drawable-mdpi/
app/build/intermediates/res/merged/debug/drawable-xhdpi/
app/build/intermediates/res/merged/debug/drawable-xxhdpi/
app/build/intermediates/res/merged/debug/drawable-xxxhdpi/
app/build/intermediates/rs/
app/build/intermediates/shaders/
app/build/intermediates/symbols/androidTest/
app/build/intermediates/transforms/mergeJniLibs/
app/build/tmp/compileDebugAndroidTestJavaWithJavac/
app/build/tmp/compileDebugJavaWithJavac/
app/src/main/java/com/anna/duanzi/broadcast/
build/android-profile/
build/generated/
page_curl/libs/
page_curl/src/main/res/drawable/
projectFilesBackup/
tfl_list_recycler_view/libs/
tfl_list_recycler_view/src/main/res/drawable/
DroidPlugin/build/generated/source/apt/
DroidPlugin/build/intermediates/incremental/processReleaseResources/
DroidPlugin/build/intermediates/transforms/stripDebugSymbol/
DroidPlugin/res/drawable-mdpi/
app/build/generated/source/r/debug/android/support/multidex/
app/build/generated/source/r/debug/android/support/v4/
app/build/generated/source/apt/androidTest/
app/build/generated/source/apt/release/
app/build/generated/source/apt/test/
app/build/generated/source/buildConfig/release/
app/build/generated/source/r/debug/cn/
app/build/generated/source/r/debug/com/anna/duanzi/Manifest.java
app/build/generated/source/r/release/
app/build/intermediates/assets/release/
app/build/intermediates/blame/res/release/
app/build/intermediates/classes/debug/cn/tfl/
app/build/intermediates/classes/debug/com/anna/duanzi/Manifest$permission.class
app/build/intermediates/classes/debug/com/anna/duanzi/Manifest.class
app/build/intermediates/classes/debug/com/anna/duanzi/activity/PublishActivity$1.class
app/build/intermediates/classes/debug/com/anna/duanzi/activity/PublishActivity$2.class
app/build/intermediates/classes/debug/com/anna/duanzi/activity/PublishActivity$3.class
app/build/intermediates/classes/debug/com/anna/duanzi/activity/PublishEditActivity$1.class
app/build/intermediates/classes/debug/com/anna/duanzi/activity/PublishEditActivity$2.class
app/build/intermediates/classes/debug/com/anna/duanzi/activity/RecorderActivity$1.class
app/build/intermediates/classes/debug/com/anna/duanzi/activity/RecorderActivity$2.class
app/build/intermediates/classes/debug/com/anna/duanzi/activity/RecorderActivity$AudioRecordRunnable.class
app/build/intermediates/classes/debug/com/anna/duanzi/activity/RecorderActivity$CameraView.class
app/build/intermediates/classes/debug/com/anna/duanzi/activity/RecorderActivity$DeviceOrientationEventListener.class
app/build/intermediates/classes/debug/com/anna/duanzi/activity/RecorderActivity.class
app/build/intermediates/classes/debug/com/anna/duanzi/activity/VideoThumbEditActivity$1.class
app/build/intermediates/classes/debug/com/anna/duanzi/activity/VideoThumbEditActivity$2.class
app/build/intermediates/classes/debug/com/anna/duanzi/activity/VideoThumbEditActivity$ImageClick.class
app/build/intermediates/classes/debug/com/anna/duanzi/activity/VideoThumbEditActivity.class
app/build/intermediates/classes/debug/com/anna/duanzi/adapter/ImageAdapter$6.class
app/build/intermediates/classes/debug/com/anna/duanzi/fragment/FoundFragment$1$1.class
app/build/intermediates/classes/debug/com/anna/duanzi/fragment/FoundFragment$1$2.class
app/build/intermediates/classes/debug/com/anna/duanzi/fragment/FoundFragment$1.class
app/build/intermediates/classes/debug/com/anna/duanzi/fragment/FragmentHome$1.class
app/build/intermediates/classes/debug/com/anna/duanzi/fragment/FragmentHome$PagerAdapter.class
app/build/intermediates/classes/debug/com/anna/duanzi/widget/ButtonCircleProgressBar$OnProgressEndListener.class
app/build/intermediates/classes/debug/com/anna/duanzi/widget/ButtonCircleProgressBar$Status.class
app/build/intermediates/classes/debug/com/anna/duanzi/widget/ButtonCircleProgressBar.class
app/build/intermediates/classes/debug/com/anna/duanzi/widget/GalleryView$1.class
app/build/intermediates/classes/debug/com/anna/duanzi/widget/GalleryView$CurrentImageChangeListener.class
app/build/intermediates/classes/debug/com/anna/duanzi/widget/GalleryView$HorizontalScrollViewAdapter$ViewHolder.class
app/build/intermediates/classes/debug/com/anna/duanzi/widget/GalleryView$HorizontalScrollViewAdapter.class
app/build/intermediates/classes/debug/com/anna/duanzi/widget/GalleryView$OnItemClickListener.class
app/build/intermediates/classes/debug/com/anna/duanzi/widget/GalleryView.class
app/build/intermediates/classes/debug/com/cn/tfl/update/R$anim.class
app/build/intermediates/classes/debug/com/cn/
tfl/update/R$attr.class
app/build/intermediates/classes/debug/com/cn/tfl/update/R$bool.class
app/build/intermediates/classes/debug/com/cn/tfl/update/R$color.class
app/build/intermediates/classes/debug/com/cn/tfl/update/R$dimen.class
app/build/intermediates/classes/debug/com/cn/tfl/update/R$drawable.class
app/build/intermediates/classes/debug/com/cn/tfl/update/R$id.class
app/build/intermediates/classes/debug/com/cn/tfl/update/R$integer.class
app/build/intermediates/classes/debug/com/cn/tfl/update/R$layout.class
app/build/intermediates/classes/debug/com/cn/tfl/update/R$style.class
app/build/intermediates/classes/debug/com/cn/tfl/update/R$styleable.class
app/build/intermediates/classes/release/
app/build/intermediates/incremental-safeguard/release/
app/build/intermediates/incremental/compileReleaseAidl/
app/build/intermediates/incremental/mergeReleaseAssets/
app/build/intermediates/incremental/mergeReleaseJniLibFolders/
app/build/intermediates/incremental/mergeReleaseResources/
app/build/intermediates/incremental/mergeReleaseShaders/
app/build/intermediates/incremental/processReleaseResources/
app/build/intermediates/jniLibs/
app/build/intermediates/manifests/full/release/
app/build/intermediates/multi-dex/release/
app/build/intermediates/pre-dexed/
app/build/intermediates/res/merged/debug/color/btn_txt_selector_1.xml
app/build/intermediates/res/merged/debug/drawable-xhdpi-v4/box_recorder_focus.png
app/build/intermediates/res/merged/debug/drawable-xhdpi-v4/box_total_time.9.png
app/build/intermediates/res/merged/debug/drawable-xhdpi-v4/btn_recorder_back.png
app/build/intermediates/res/merged/debug/drawable-xhdpi-v4/btn_recorder_delete.png
app/build/intermediates/res/merged/debug/drawable-xhdpi-v4/btn_recorder_delete_hl.png
app/build/intermediates/res/merged/debug/drawable-xhdpi-v4/btn_recorder_flash.png
app/build/intermediates/res/merged/debug/drawable-xhdpi-v4/btn_recorder_ok.png
app/build/intermediates/res/merged/debug/drawable-xhdpi-v4/btn_recorder_ok_hl.png
app/build/intermediates/res/merged/debug/drawable-xhdpi-v4/btn_recorder_overturn.png
app/build/intermediates/res/merged/debug/drawable-xhdpi-v4/btn_recorder_video_big.png
app/build/intermediates/res/merged/debug/drawable-xhdpi-v4/btn_recorder_video_big_hl.png
app/build/intermediates/res/merged/debug/drawable-xhdpi-v4/ic_delete.png
app/build/intermediates/res/merged/debug/drawable-xhdpi-v4/ic_ok.png
app/build/intermediates/res/merged/debug/drawable-xhdpi-v4/icn_change_view.png
app/build/intermediates/res/merged/debug/drawable-xhdpi-v4/icn_change_view_pressed.png
app/build/intermediates/res/merged/debug/drawable-xhdpi-v4/icn_flashlight_off.png
app/build/intermediates/res/merged/debug/drawable-xhdpi-v4/icn_flashlight_on.png
app/build/intermediates/res/merged/debug/drawable-xhdpi-v4/stop.png
app/build/intermediates/res/merged/debug/drawable/btn_recorder_finish.xml
app/build/intermediates/res/merged/debug/drawable/btn_recorder_flashlight.xml
app/build/intermediates/res/merged/debug/drawable/btn_recorder_frontcamera.xml
app/build/intermediates/res/merged/debug/drawable/btn_recorder_rollback.xml
app/build/intermediates/res/merged/debug/drawable/btn_recorder_video.xml
app/build/intermediates/res/merged/debug/drawable/button_globaldialog.xml
app/build/intermediates/res/merged/debug/drawable/button_status_color.xml
app/build/intermediates/res/merged/debug/layout/activity_index_gallery_item.xml
app/build/intermediates/res/merged/debug/layout/activity_rec
order.xml
app/build/intermediates/res/merged/debug/layout/activity_recorder_progress.xml
app/build/intermediates/res/merged/debug/layout/activity_video_thumb_edit.xml
app/build/intermediates/res/merged/debug/layout/global_dialog_tpl.xml
app/build/intermediates/res/merged/release/
app/build/intermediates/res/resources-release.ap_
app/build/intermediates/symbols/release/
app/build/intermediates/transforms/dex/release/
app/build/intermediates/transforms/jarMerging/
app/build/intermediates/transforms/mergeJavaRes/release/
app/build/intermediates/transforms/stripDebugSymbol/release/
app/build/outputs/logs/manifest-merger-release-report.txt
app/build/tmp/
recyclerviewcardgallery/libs/
recyclerviewcardgallery/src/main/res/drawable/
